@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.bgGradient {
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 603px;
  min-height: 100vh;
}
